/*MOBILE*/

.mobile #infoUser{
    height: 320px !important;
}

.mobile #box {
    height: 100px !important;
}

.mobile .projects{
    padding: 0px !important;
}

.mobile #organo img,
.mobile #mataMosca img,
.mobile #books img {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 4%;
}

.mobile #linkGame img {
    height: 8%;
    width: 8%;
    padding: 0;
    margin: 0;
    padding-right: 10px;
}

.mobile #projectsListGrup {
    min-width: 30%;
}

.mobile #projectsListGrup li{
    font-size: 26px !important;
}

.mobile footer div {
    height: 9em;
}

.mobile #content {
    min-height: 60dvh;
} 

.mobile footer #linkedin {
    height: 130px;
}

.mobile .certificates{
    padding: 0;
}

.mobile #projectsListGrup li {
    padding: 10px 20px;
}

.mobile #projectsListGrup svg{
    width: 50px;
}
